@{
    ViewBag.Title = "Inicio";
}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-6">

            <h1>
                Tu próxima
                <span style="color:#D4AF37;">
                    historia
                </span>
                comienza aquí
            </h1>

            <p class="mt-4">
                Comprá o alquilá películas y series
                cuando quieras.
            </p>

            <button class="btn btn-gold">
                Explorar títulos
            </button>

        </div>

        <div class="col-md-6">

            <img src="https://images.unsplash.com/photo-1489599849927-2ee91cede3ba"
                 class="img-fluid rounded" />

        </div>

    </div>

</div>
<hr class="mt-5 mb-5" />

<h2 class="mb-4">Películas destacadas</h2>

<div class="row">

    <div class="col-md-3 mb-4">
        <div class="card card-redflix">

            <img src="https://image.tmdb.org/t/p/w500/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg"
                 class="card-img-top">

            <div class="card-body">

                <h5>Duna Parte 2</h5>

                <p>$1200</p>

                <button class="btn btn-gold w-100">
                    Agregar al carrito
                </button>

            </div>

        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card card-redflix">

            <img src="https://image.tmdb.org/t/p/w500/rktDFPbfHfUbArZ6OOOKsXcv0Bm.jpg"
                 class="card-img-top">

            <div class="card-body">

                <h5>John Wick 4</h5>

                <p>$1000</p>

                <button class="btn btn-gold w-100">
                    Agregar al carrito
                </button>

            </div>

        </div>
    </div>

</div>

