@model List<Obligatorio_RedFlix.Models.Populares>


@if (Session["UsuarioId"] == null)
{

    <section class="hero-redflix">

        <div class="hero-content">

            <h1>
                Películas y series
                <br />
                ilimitadas y mucho más
            </h1>

            <p class="hero-subtitle">
                Comprá o alquilá tus películas favoritas cuando quieras.
            </p>

          <div class="comenzar-box">
              <p>Ingresá tu email para comenzar</p>
              @using (Html.BeginForm("Registrar", "Account", FormMethod.Get, new { @class = "comenzar-form" }))
              {
                  <input type="email"
                         name="email"
                         placeholder="Correo electrónico"
                         class="input-comenzar" />
                  <button type="submit" class="btn-comenzar">
                      Comenzar
                  </button>
              }
          </div>

        </div>

    </section>


    <div class="container pb-5">
        <h2 class="mb-5">Un poco de lo mas visto</h2>

        <div class="row">

            @foreach (var pelicula in Model.Take(8))
            {
                <div class="col-md-3 mb-4">
                    <div class="card-redflix">
                        <img src="https://image.tmdb.org/t/p/w500/@pelicula.PosterPath" />
                        <div class="card-body">
                            <h5>@pelicula.Title</h5>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
}
else
{


    <div class="container mt-5">

        <h2>Catálogo</h2>

        <div class="row">

            @foreach (var pelicula in Model)
            {
                <div class="col-md-3 mb-4">

                    <div class="card-redflix">

                        <img src="https://image.tmdb.org/t/p/w500/@pelicula.PosterPath"
                             class="card-img-top">

                        <div class="card-body">
                            <h5>@pelicula.Title</h5>
                        </div>

                    </div>

                </div>
            }

        </div>

    </div>
}